version: '2'
services:
  client:
    image: theascone/conmgr:client-latest
    links:
      - "server:server"
    ports:
      - "80:80"
  server:
    image: theascone/conmgr:server-latest
    environment:
      CONMGR_GROUP: sample_group
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
